<!doctype html>
<html lang="en">
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing:border-box;
    }
    html,body { height: 100%;}
    header { 
        height: 60px; 
        margin-bottom: -60px; 
        background: #1381cc; 
        color: #FFF; 
        position: relative;
    }
    section { 
        background: #fff; 
        min-height: 100%; 
        padding: 60px 0 60px;}
    footer { 
        height:60px; 
        margin-top: -60px; 
        background: #0c4367; 
        color: #FFF;
    }
    
</style>
{% include head.html %}
<body>

{% include header.html %}

{{ content }}

{% include footer.html %}
<!--
<script type="text/javascript">
  //友盟统计
  var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
  document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1260641879'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260641879' type='text/javascript'%3E%3C/script%3E"));
</script>
-->
</body>
</html>
